/* 公共样式表 */
.w { 
  width: 1190px;
  margin: 0 auto;
}
body {
  background-color: #f0f3ef;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.f10 {
  color: #f10215!important;
}
input, button {
  border: 0px;
  outline: none; 
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,
  textarea,th,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #999999;
  display: inline-block;
}
span {
    color: #ccc;
    margin: 0 5px;
}
@font-face { 
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ycbsl3');
  src:  url('../fonts/icomoon.eot?ycbsl3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ycbsl3') format('truetype'),
    url('../fonts/icomoon.woff?ycbsl3') format('woff'),
    url('../fonts/icomoon.svg?ycbsl3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* header--开始 */
  header {
    height: 80px;
    background-color: #f23d9c;
  }
/* header--结束 */
/* 快速导航栏--开始 */
  .shortcut {
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #cccccc;
    font-size: 12px;
    color: #999999;
  }
  .city {
    line-height: 30px;
    margin-left: 205px;
  }
  .shortcut a { 
    line-height: 30px;  
  }
  .shortcut a:hover {
    color: #e33333;
  }
  .shortcut ul li {
    float: left;
    position: relative;
  }
  .shortcut i {
    font-family: "icomoon"; 
      font-style: normal;
  }
  .space {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 11px 12px 0;
  }
  a .qrcode {
    position: absolute;
    right: -12px;
    margin: 0 1px 0px 0px;
    width: 66px;
    height: 66px;
    border: 2px solid #cfcfcf;
    background: #f6f6f6 url(../images/mobile_qrcode.png) 50% no-repeat;
  }

  .hovertu1{
    width: 281px;
    height: 163px;
    position: absolute;
    left: -5px;
    top: 31px;
    z-index: 1;
    display: none;
  }
  .one1:hover .hovertu1{
    display: block;
  }
    .hovertu2{
    width: 281px;
    height: 163px;
    position: absolute;
    left: -5px;
    top: 31px;
    z-index: 1;
    display: none;
  }
  .one2:hover .hovertu2{
    display: block;
  }
    .hovertu3{
    width: 281px;
    height: 163px;
    position: absolute;
    left: -5px;
    top: 31px;
    z-index: 1;
    display: none;
  }
  .one3:hover .hovertu3{
    display: block;
  }
    .hovertu4{
    width: 281px;
    height: 163px;
    position: absolute;
    left: -720px;
    top: 31px;
    z-index: 1;
    display: none;
  }
  .one4:hover .hovertu4{
    display: block;
  }
    .hovertu5{
    width: 281px;
    height: 163px;
    position: absolute;
    left: -5px;
    top: 31px;
    z-index: 1;
    display: none;
  }
  .one5:hover .hovertu5{
    display: block;
  }
/* 快速导航栏--结束 */
/* 导航栏--开始 */
  .middle {
    height: 140px;
    position: relative;
  }
  .logo h1 a {
    display: block;
    width: 190px;
    height: 170px;
    background: url(../images/sprite.head.png) no-repeat;
    position: absolute;
    left: 0;
    top: -31px;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2), -1px 0px 1px rgba(0, 0, 0, 0.2);
  }
  .form {
    width: 550px;
    height: 35px;
    position: absolute;
    left: 75px;
    top: 25px;
    display: flex;
    position: relative;
  }
  .form input {
    width: 91%;
    padding-left: 6px;
    font-size: 14px;
    color: #333;
  }
  .form button {
    width: 9%;
    background-color: #f10215; 
  }
  .form .camera i {
    font-family: "icomoon";
    font-style: normal;
    font-size: 20px;
    color: #999;
    position: absolute;
    right: 65px;
    top: 5px;
  }
  .form button i {
    font-family: "icomoon";
    font-style: normal;
    color: #fff;
    font-size: 20px;
  }
  .form button, .form .camera i {
    cursor: pointer;
  }
  .shopCar a {
    width: 188px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-color: pink;
    position: absolute;
    right: 100px;
    top: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 12px;
    color: #f10214;
  }
  .shopCar i {
    font-family: "icomoon";
    font-style: normal;
    font-size: 14px;
    margin-right: 6px;
  }
  .shopCar span {
    height: 14px;
    width: 14px;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    background-color: #f10214;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 36px;
    top: 6px;
  }
  .hotwords {
    position: absolute;
    left: 320px;
    top: 65px;
  }
  .hotwords a {
    margin: 0 3px;
    font-size: 12px;
  }
  .navitems {
    position: absolute;
    bottom: 0;
    left: 225px;
    padding-bottom: 10px;
  }
  .navitems li {
    float: left;
    margin-right: 23px;
  }
  .navitems li a {
    font-size: 14px;
    color: #333;
  }
  .navitems li a:hover {
    color: #e33333;
  }

  .navitems .space1 {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin-top: 5px;
  }
  .advertisement a {
    display: block;
    width: 190px;
    height: 40px;
    background: url(../images/广告.gif) no-repeat;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  .advertisement1 a{
    position: absolute;
    right: -7px;
    bottom: 75px;
  }

 

4、index.css---主要写轮播图部分和秒杀部分的样式

/*轮播区域样式*/
.con_lunbo {
 height: 480px;
 background: url(../img/a-bg.png) no-repeat center;
 z-index: -1;
 position: absolute;
 top: 100px;
} 

/*左侧导航列表样式*/
.con_lunbo .w .side_nav {
 width: 190px;
 height: 480px;
 background-color: #6e6568;
}
.con_lunbo .w .side_nav ul {
 margin-top: 16px;
}
/*ooop*/
.hovertu{
  width: 1001px;
  height: 482px;
  position: absolute;
  left: 547px;
  display: none;
  top: 251px;
  z-index: 10;
}

.side_nav ul li:hover .hovertu{
  display: block;                                  
  
}
.con_lunbo .w .side_nav ul li {
 height: 30px;
 font: 12px/30px "微软雅黑";
 color: #fff;
 padding-left: 12px;
}
.con_lunbo .w .side_nav ul li:hover {
 background-color: rgba(255,255,255,0.3);
}
.con_lunbo .w .side_nav ul li a {
 color: #fff;
}
.con_lunbo .w .side_nav ul li a:hover {
 color: red;
}

/*中间轮播区域样式*/
.con_lunbo .w .lunbo {
 width: 590px;
 height: 480px;
 margin: 0 10px;
}
.con_lunbo .w .lunbo .lb {
 height: 500px;
 margin-bottom: 10px;
 overflow: hidden;
 position: relative;
}
.con_lunbo .w .lunbo .lb ul {
 width: 8000px;
}
.con_lunbo .w .lunbo .lb ul li {
 width: 790px;
 height: 200px;
 float: left;
}
.con_lunbo .w .lunbo .box_img {
 height: 130px;
}
.con_lunbo .w .lunbo .lb ol.lb_nav {
 width: 182px;
 height: 12px;
 padding: 4px 9px;
 border-radius: 9px;
 background-color: rgba(255,255,255,0.5);
 position: absolute;
 left: 50%;
 bottom: 20px;
 margin-left: -91px;
}
.con_lunbo .w .lunbo .lb ol.lb_nav li {
 float: left;
 width: 12px;
 height: 12px;
 background-color: #fff;
 border-radius: 50%;
 margin-right: 10px;
}
.con_lunbo .w .lunbo .lb ol.lb_nav li:nth-last-child(1) {
 margin: 0;

}
.con_lunbo .w .lunbo .lb ol.lb_nav li.active {
 background-color: red;
}
.two{
  width: 190px;
  height: 460px;
  float: left;
  margin-top: 10px;
}
.hexinlunbo{
      width: 590px;
      height: 470px;
      margin: 100px auto;
      border: 1px solid #000;
      position: relative;
      top: -100px;
    }
    .list_item{
      list-style: none;
      width: 100%;
      height: 100%;
      position: relative;
      margin: 0;
      padding:0px;
    }
    .item{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 50px;
      opacity: 0;
      transition: 0.4s;
    }
    .item_active{
      z-index: 1;
      opacity: 1;
    }
    button{
      width: 24px;
      height: 40px;
      position: absolute;
      top: 216px; 
      background: #333;
      border: 1px solid #333;
      opacity: 0.4;
      font-size: 20px;
      color: white;
      z-index: 2;
    }
    button:hover{
      opacity: 0.8;
      transition: 0.2s;
    }
    .last{
      left:0;
    }
    .next{
      right: 0;
    }
    .list_point{
      list-style: none;
      position: absolute;
      top: 420px;
      left: 40px;
      margin: 0;
      padding:0px;
      z-index: 3;
    }
    .point{
      width: 8px;
      height: 8px;
      border-radius: 100%;
      border: 2px solid #fff;
      float: left;
      margin-right: 10px;
      cursor: pointer;
    }
    .point_active{
      border: 2px solid #fff;
      background: white;
    }

/*右侧生活列表样式*/
.con_lunbo .w .life_list {
 width: 190px;
 height: 480px;
 background-color: #fff;
 margin-left: 6px;
}

/*上边登录部分样式*/
.con_lunbo .w .life_list .life_top {
 width: 190px;
 height: 115px;
 border-bottom: 1px #e6e6e6 solid;
}
.con_lunbo .w .life_list .life_top img {
 width: 45px;
 height: 45px;
 border-radius: 50%;
 margin: 15px 10px 10px;
 float: left;
}
.con_lunbo .w .life_list .life_top p {
 float: left;
 font: 11px/11px "微软雅黑";
 color: #666;
 margin: 21px 0 15px;
}
.con_lunbo .w .life_list .life_top a {
 float: left;
 font: 11px/11px "微软雅黑";
 color: #000;
 font-weight: bold;
 margin-right: 9px;
}
.con_lunbo .w .life_list .life_top a:nth-child(1) {   
 margin-top: 15px;   
}
.con_lunbo .w .life_list .life_top a:hover {
 color: red;
}
.con_lunbo .w .life_list .life_top .fuli {
 width: 168px;
 height: 24px;
 float: left;
 margin-top: 15px;
}
.con_lunbo .w .life_list .life_top .fuli a {
 float: left;
 display: block;
 width: 70px;
 height: 20px;
 border: 2px #e01222 solid;
 font: 11px/20px "微软雅黑";
 text-align: center;
 color: #e01222;
 background-color: #fff;
 margin: 0 10px;
}
.con_lunbo .w .life_list .life_top .fuli a:nth-child(2) {
 margin: 0;
}
.con_lunbo .w .life_list .life_top .fuli a:hover {
 color: #fff;
 background-color: #e01222;
}
/*中间促销部分样式*/
.con_lunbo .w .life_list .life_middle {
 width: 160px;
 height: 147px;   
 margin: 0 auto;
}
.con_lunbo .w .life_list .life_middle .life_title {
 width: 147px;    
 height: 15px;      
 margin-top: 7px;
 border-bottom: 1px #e6e6e6 solid;
 padding-bottom: 2px;
}
.con_lunbo .w .life_list .life_middle .life_title a {
 float: left;
 font: 11px "微软雅黑";
 color: #333;
 font-weight: bold;
}
.con_lunbo .w .life_list .life_middle .life_title a.sale {
 border-right: 1px #e6e6e6 solid;
 padding-right: 13px;
}
.con_lunbo .w .life_list .life_middle .life_title a.gonggao {
 margin-left: 15px;
}
.con_lunbo .w .life_list .life_middle .life_title a.more {
 float: right;
}

.con_lunbo .w .life_list .life_middle .life_con {
 height: 127px;
}
.con_lunbo .w .life_list .life_middle .life_con a {
 font: 11px/23px "微软雅黑";
 color: #666;
 float: left;
}
.con_lunbo .w .life_list .life_middle .life_con a:nth-child(1) { 
 margin-top: 19px;
}
.con_lunbo .w .life_list .life_middle .life_con a:hover {
 color: red;
}

/*下边生活服务部分样式*/
.con_lunbo .w .life_list .life_bottom {
 width: 190px;
 height: 210px;
}
.con_lunbo .w .life_list .life_bottom {
 overflow: hidden;
}
.con_lunbo .w .life_list .life_bottom ul {
 width: 192px;
 overflow: hidden;  
}
.con_lunbo .w .life_list .life_bottom ul li {
 float: left;
 width: 47px;
 height: 69px;
 border-top: 1px #e6e6e6 solid;
 border-right: 1px #e6e6e6 solid;
 position: relative;
}
.con_lunbo .w .life_list .life_bottom ul li a i {
 display: block;
 width: 15px;
 height: 18px;
 background: url(../img/sprite_fs@1x.png) no-repeat -4px -88px;
 text-align: center;
 margin: 15px 16px 10px 15px;
}
.con_lunbo .w .life_list .life_bottom ul li:nth-child(2) a i {  
 width: 20px;            
 height: 20px;
 background-position: -2px -45px;
 margin-top: 17px;
 margin-left: 13px;
}
.con_lunbo .w .life_list .life_bottom ul li a p {  
 font-size: 11px "微软雅黑"; 
 color: #666;
 text-align: center;
}
.con_lunbo .w .life_list .life_bottom ul li a b {
 display: block;
 width: 13px;
 height: 16px;
 background: url(../img/jian.png) no-repeat;
 position: absolute;
 top: 0;
 right: 0;
}


/*秒杀部分样式*/
.con_ms {
 height: 305px;
 margin-top: 10px;
}

/*标题左侧样式*/
.con_ms .w .title {
 height: 55px;
 background: url(../img/seckill_hd.png) no-repeat;
}
.con_ms .w .title .left_title .corner {
 display: block;
 width: 25px;
 height: 25px;
 background: url(../img/sprite_index@1x.png) no-repeat -190px -48px;
 float: left;
 margin-top: -2px;
    margin-left: -1px;
}
.con_ms .w .title .left_title .clock {
 display: block;
 width: 34px;
 height: 40px;
 background: url(../img/sprite_index@1x.png) no-repeat 0px -39px;
 float: left;
 margin-top: 8px;
 margin-left: 31px;
}
.con_ms .w .title .left_title h4 {
 float: left;
 font: 24px/24px "微软雅黑";
 color: #fff;
 margin-left: 10px;
 margin-top: 16px;
}
.con_ms .w .title .left_title a {
 float: left;
 font-size: 13px;
 color: #fff;
 margin-left: 15px;
 margin-top: 25px;
}
.con_ms .w .title .left_title a i.right_arrow {
 display: inline-block;
 background: url(../img/sprite_index@1x.png) no-repeat -153px -39px;
 width: 16px;
 height: 17px;
 vertical-align: top;
}

/*标题右侧时间样式*/
.con_ms .w .title .right_time .left_text {
 width: 55px;
 height: 28px;
 margin-top: 27px;
 margin-right: 7px;
 font: 12px/12px "微软雅黑";
 color: #fff;
}
.con_ms .w .title .right_time span {
 float: left;
}
.con_ms .w .title .right_time span.hours,span.min,span.sec {
 width: 35px;
 height: 37px;
 background-color: #440106;
 border-radius: 3px;
 font: 12px/37px "微软雅黑";
 color: #f90013;
 text-align: center;
 margin-top: 10px;
}
.con_ms .w .title .right_time span.dot {
 width: 4px;
 height: 12px;
 /*margin-top: 22px;*/
 margin: 22px 4px 0;
}
.con_ms .w .title .right_time span.dot i {
 display: block;
 width: 4px;
 height: 4px;
 border-radius: 50%;
 background-color: #440106;
}
.con_ms .w .title .right_time span.dot i:nth-child(1) {
 margin-bottom: 4px;
}
.con_ms .w .title .right_time .right_text {
 width: 70px;
 height: 28px;
 margin: 27px 22px 0 7px;
 font: 12px/12px "微软雅黑";
 color: #fff;
}

 

/*下侧商品区域样式*/
.con_ms .w .content .shopping {
 height: 250px;
 background-color: #fff;
 float: left;
}
.con_ms .w .content .shopping ul li {
 float: left;
 width: 199px;
 height: 225px;
 border-right: 1px #e7e7e7 solid;
}
.con_ms .w .content .shopping ul li a {
 display: block;
 width: 184px;
 height: 195px;
 margin-left: 15px;
 text-align: center;
 margin-bottom: 11px;
 position: relative;
}
.con_ms .w .content .shopping ul li a b.shop_icon {
 width: 30px;
 height: 40px;
 display: block;
 position: absolute;
 z-index: 2;
 color: #fff;
 text-align: center;
 line-height: 40px;
 font-weight: normal;
 background: url(../img/sprite_index@1x.png) no-repeat -53px -39px;
}
.con_ms .w .content .shopping ul li a img {
 position: relative;
 top: 13px;
}
.con_ms .w .content .shopping ul li a p {
 text-align: left;
 margin-top: 15px;
 height: 28px;
 line-height: 14px;
 overflow: hidden;  
}
.con_ms .w .content .shopping ul li p.price span.newPrice {
 color: red;
 margin-left: 15px;
 float: left;
}
.con_ms .w .content .shopping ul li p.price span.newPrice i {
 font-size: 9px;
 font-size: normal;
}
.con_ms .w .content .shopping ul li p.price span.newPrice span {
 font-size: 14px;
 font-weight: bold;
}
.con_ms .w .content .shopping ul li .oldPrice {
 font-size: 9px;
 float: left;
 margin-left: 10px;
 margin-top: 2px;
}
.con_ms .w .content .shopping ul li span.shadow {
 width: 170px;
 height: 22px;
 display: block;
 background: url(../img/sprite_index@1x.png) no-repeat;
}

/*下侧右边广告区域样式*/
.con_ms .w .content .big_Img {
 width: 190px;
 float: left;
}
.con_ms .w .content .big_Img img {
 float: left;
}

5、foot.css---主要写页面底部的样式

.foot {
 height: 567px;
 background-color: #eaeaea;

}
/*上面 多快好省部分样式*/
.foot .foot_top {
    margin-top: 2000px;
 height: 102px;
 border-bottom: 1px #dedede solid;
}
.foot .foot_top .w ul li {
 float: left;
 width: 297px;
 height: 102px;
 line-height: 102px;
 font-weight: bold;
}
.foot .foot_top .w ul li h5 {
 float: left;
 width: 36px;
 height: 42px;
 margin-top: 30px;
 margin-left: 36px;
 line-height: 42px;
 text-align: center;
 font-size: 20px;
 color: #e01121;
 text-indent: -999999px; 
 background: url(../img/ico_service.png) no-repeat;
}
.foot .foot_top .w ul li:nth-child(2) h5 {
 background-position:  0 -43px;
}
.foot .foot_top .w ul li:nth-child(3) h5 {
 background-position: 0 -85px;
}
.foot .foot_top .w ul li:nth-child(4) h5 {
 background-position: 0 -127px;
}
.foot .foot_top .w ul li p {
 float: left;
 margin-left: 10px;
 font-size: 18px;
 color: #444444;
}
.foot .service .w {
 border-bottom: 1px #ddd solid;
}
.foot .service .service_list dl {
 float: left;
 width: 198px;
}
.foot .service .service_list dl dt {
 margin-top: 26px;
 margin-bottom: 15px;
 font: 13px/13px "微软雅黑";
 color: #666666;
 font-weight: bold;
}
.foot .service .service_list dl dd {
 margin-bottom: 11px;
 font: 11px/11px "微软雅黑";
}
.foot .service .map {
 width: 200px;
 background: url(../img/ico_footer.png) no-repeat;
 height: 172px;    
 background-position: 0 22px;
}
.foot .service .map h5 {
 margin-top: 25px;
 font: 13px/13px "微软雅黑";
 font-weight: bold;
 color: #666666;
 text-align: center;
}
.foot .service .w .map p {
 margin: 23px 20px 0 10px;
 font: 11px "微软雅黑";
 line-height: 18px;
}
.foot .service .map a {
 float: right;
}
.foot .service .map a:hover {
 color: red;
}
/*尾部版权部分*/
.foot .copyright p {
 margin-bottom: 9px;
 text-align: center;
}
.foot .copyright p:nth-child(1) {
 margin-top: 19px;
 margin-bottom: 17px;
 font: 12px/12px "微软雅黑";
 font-weight: bold;
}
.foot .copyright p a {
 margin: 0 9px;
}
.foot .copyright p a {
 font: 13px/13px "微软雅黑";
 color: #666;
 text-align: center;
}
.foot .copyright p.pic_href {
 width: 678px;    
 margin: 0 auto;
}
.foot .copyright p.pic_href a {
 float: left;
 display: block;
 width: 103px;
 height: 32px;
 background: url(../img/ico_footer.png) no-repeat;
 background-position: 0 -150px;
 margin: 0;
 margin-right: 10px;
}
.foot .copyright p.pic_href a:nth-child(2) {
 background-position: -104px  -150px;
}
.foot .copyright p.pic_href a:nth-child(3) {
 background-position: 0px  -183px;
}
.foot .copyright p.pic_href a:nth-child(4) {
 background-position: -104px  -183px;
}
.foot .copyright p.pic_href a:nth-child(5) {
 background-position: 0px  -216px;
}
.foot .copyright p.pic_href a:nth-child(6) {
 background-position: -104px  -216px;
}
/*京东秒杀*/
.miaosha{
  height: 272px;
  margin-top: 30px;
}
.miaosha>div{
  float: left;
  width: 190px;
  height: 272px;
  margin-right:1px;
}
.miaosha>div>li{
  float: left;
}
/*秒杀开头的红色*/
.miaosha1{
  width: 188px;
  background-color: #e93939;
  position: relative;
}
.miaosha1>div{
  text-align: center;
}
.miaosha1>div>li{
  float: left;
  width: 40px;
  height: 20px;
  margin-right: 5px;
  background-color: #293a27;
}
.miaosha1>div:nth-child(1){
  margin-top: 50px;
  font-size: 31px;
  color: #fff;
}
.miaosha1>div:nth-child(2){
  margin-top: 13px;
  font-size: 15px;
  color: #fff;
  opacity:0.5;
}
.miaosha1>div:nth-child(3){
  margin-top: 13px;

}
.miaosha1>div:nth-child(3)>i{
  width: 20px;
  height: 33px;
  background-image: url(../images/sprite7.png);
  background-position: -35px -25px;
}
.miaosha1>div:nth-child(4){
  margin-top: 13px;
  font-size: 16px;
  color: #fff;
}
.miaosha1>div:nth-child(5){
  width: 160px;
  height: 20px;
  margin-top: 13px;
  padding-left: 30px;
  border-bottom: 1px solid #e93939;

}
.miaosha1>div:nth-child(6){
  width: 160px;
  height: 20px;
  padding-left: 30px;
}
.miaosha1>div:nth-child(7){
  position: absolute;
  left: 30px;
  bottom: 23px;
}
.miaosha1>div:nth-child(7)>div{
  width: 40px;
  float: left;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.miaosha2{
  background-color: #fff;
  float: left;
  width: 196px;
  height: 272px;
  margin-right: 1px;
}
.miaosha2>div:nth-child(1){
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-top: 37px;
}
.miaosha2>div:nth-child(2){
  margin-top: 22px;
  text-align: center;
  color: #6d6d6d;
}
.miaosha2>div:nth-child(3){
  width: 160px;
  height: 20px;
  margin-top: 18px;
  margin-left: 20px;
  border: 1px solid #e33b32;
  background-color: #e33b32;
}
.miaosha2>div:nth-child(3)>li{
  width: 80px;
  height: 20px;
  float: left;
  text-align: center;
  line-height: 20px;
  color: #fff;
}
.miaosha2>div:nth-child(3)>li:nth-child(2){
  background-color: #fff;
  text-decoration:line-through;
  color: #bdbdbd;
}
.miaosha3{
  width: 190px;
  height: 272px;
  background-color: #fff;
}
.miaosha3>a>div{
  width: 170px;
  height: 259px;
  margin: 6px 0px 0px 10px;
  background-image: url(../picture/7e0e02e8e7deb9df.jpg);
}
/*单元*/
.danyuan{
  width: 390px;
  height: 450px;
  margin-top: 300px;
  background-color: #fff;
}
/*单元标题*/
.xbytitle{
  width: 390px;
  height: 60px;
}
.xbytitle>li{
  float: left;
  height: 60px;
  line-height: 60px;

}
.xbytitle>li:nth-child(1){
  margin-right: 10px;
  margin-left: 20px;
  font-size: 22px;
}
.xbytitle>li:nth-child(2){
  width: 22px;
  height: 22px;
  margin-top: 19px;
  border: 1px solid #d53446;
  line-height: 22px;
  border-radius:50%;
  color: #d53446;
}
.xbytitle>li:nth-child(3){
  margin-left: 5px;
  color: #aeaeae;
}
/*排行榜、会买专辑、领券中心*/
.paihuiquan{
  height: 480px;
}
/*排行榜*/
.paihang{
  margin-left:-2px;
}
.paihang>div>li{
  float: left;
}
.paihang>div:nth-child(1){
  width: 390px;
  height: 60px;
}
.paihang>div:nth-child(1)>li{
  height: 60px;
  line-height: 60px;
}
.paihang>div:nth-child(1)>li:nth-child(1){
  width: 70px;
  margin-left: 20px;
  font-size: 22px;
}
.paihang>div:nth-child(1)>li:nth-child(2){
  width: 22px;
  height: 22px;
  margin-top: 19px;
  border: 1px solid #d53446;
  line-height: 22px;
  border-radius:50%;
  color: #d53446;
}
.paihang>div:nth-child(1)>li:nth-child(3){
  margin-left: 5px;
  color: #aeaeae;
}
.paihang>div:nth-child(2){
  width: 390px;
  height: 34px;
  background-color: #f7f7f7;
}
.paihang>div:nth-child(2)>li{
  height: 34px;
  line-height: 34px;
  color: #646867;
  margin: 0 20px;
}
.paihang>div:nth-child(2)>li:nth-child(1){
  margin-left: 26px;
  color: #d53446;
}
.paihangdiv3{
  width: 350px;
  height: 103px;
  margin: 0 20px;


}
.paihangdiv3>div{
  width: 80px;
  height: 80px;
  /*margin:0 20px;*/
  margin-top: 10px;
  float: left;
}
.paihangdiv3>li:nth-child(2){
  width: 30px;
  height: 103px;
  margin-left: 15px;
  color: #ef403d;
  font-weight: bold;
  line-height: 103px;
  font-size: 28px;
}
.paihangdiv3>li:nth-child(3){
  width: 209px;
  height: 35px;
  margin-top: 42px;
}
/*会买专辑*/
.zhuimai{
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

/*轮播图按钮*/
.zhuimaibuttonlf{
  float: left;
  width: 20px;
  height: 40px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0px;
  top: 218px;
}
.zhuimaibuttonrf{
  float: left;
  width: 20px;
  height: 40px;
  background-color: #d9d9d9;
  position: absolute;
  right: 0px;
  top: 218px;
}
.zhuimai>div:nth-child(1){
  width: 390px;
  height: 60px;
}
.zhuimai>div:nth-child(1)>li{
  float: left;
  height: 60px;
  line-height: 60px;
}
.zhuimai>div:nth-child(1)>li:nth-child(1){
  /*width: 70px;*/
  margin-left: 20px;
  margin-right: 5px;
  font-size: 22px;
}
.zhuimai>div:nth-child(1)>li:nth-child(2){
  width: 22px;
  height: 22px;
  margin-top: 19px;
  border: 1px solid #d53446;
  line-height: 22px;
  border-radius:50%;
  color: #d53446;
}
.zhuimai>div:nth-child(1)>li:nth-child(3){
  margin-left: 5px;
  color: #aeaeae;
}
.zhuimai>div:nth-child(2){
  width: 350px;
  height: 128px;
  margin-left: 20px;

}
.zhuimai>div:nth-child(3){
  width: 350px;
  height: 105px;
  margin-top: 10px;
  margin-left: 20px;
}
.zhuimai>div:nth-child(3)>li{
  float: left;
  width: 105px;
  width: 105px;
}
.zhuimai>div:nth-child(3)>li:nth-child(2){
  margin: 0px 16px;
}
.zhuimai>div:nth-child(4){
  width: 350px;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}
.zhuimai>div:nth-child(5){
  width: 350px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14px;
  color: #5c5c5c;
}
/*领券中心*/

.lingquan>div:nth-child(1){
  width: 390px;
  height: 60px;
}
.lingquan>div:nth-child(1)>li{
  float: left;
  height: 60px;
  line-height: 60px;
}
.lingquan>div:nth-child(1)>li:nth-child(1){
  margin-left: 20px;
  margin-right: 5px;
  font-size: 22px;
}
.lingquan>div:nth-child(1)>li:nth-child(2){
  width: 22px;
  height: 22px;
  margin-top: 19px;
  border: 1px solid #d53446;
  line-height: 22px;
  border-radius:50%;
  color: #d53446;
}
.lingquan>div:nth-child(1)>li:nth-child(3){
  margin-left: 5px;
  color: #aeaeae;
}
.lingquandiv{
  width: 350px;
  height: 118px;
  border-radius:8px;
  margin-left: 20px;
  background-color: #f6f6f6;
  position: relative;
}
.baiyuan{
  width: 16px;
  height: 16px;
  border-radius:50%;
  background-color: #fff;
  position: absolute;
  top: -8px;
  right: 54px;
}
.baiyuan2{
  width: 16px;
  height: 16px;
  border-radius:50%;
  background-color: #fff;
  position: absolute;
  bottom: -8px;
  right: 54px;
}
.lingquandiv>div{
  float: left;
}
.lingquandiv>div:nth-child(1){
  width: 70px;
  height: 70px;
  background-color: #fff;
  padding: 10px;
  margin-top: 13px;
  margin-left: 10px;
  border-radius:50%;
  overflow:hidden;
}
.lingquandiv>div:nth-child(1)>img{

}
.lingquandiv>div:nth-child(2){
  width: 180px;
  height: 98px;
  margin-left: 5px;
  border-radius:50%;
  margin-top: 20px;
}
.lingquandiv>div:nth-child(2)>li:nth-child(1){
  font-size: 27px;
  font-weight: bold;
  color: #de3437;
}
.lingquandiv>div:nth-child(2)>li:nth-child(2){
  color: #b1b3b0;
}
.lingquandiv>div:nth-child(2)>li:nth-child(3){
  color: #7d827e;
}
.lingquandiv>div:nth-child(3){
  width: 15px;
  height: 106px;
  float: right;
  margin-right: 20px;
  margin-top: 12px;
}
/*觅me、发现好货、会逛*/
.mixianguan{
  height: 480px;
}

/*觅me*/
.mime{
  position: relative;
}
.mime>div>li{
  float: left;
}
/*轮播图按钮*/
.buttonturf{
  float: left;
  width: 20px;
  height: 40px;
  background-color: #d9d9d9;
  position: absolute;
  right: 0px;
  top: 218px;
}
.buttontulf{
  float: left;
  width: 20px;
  height: 40px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0px;
  top: 218px;
}
.mime>div:nth-child(2){
  width: 350px;
  height: 245px;
  margin-left:20px ;
}
.mime>div:nth-child(3){
  width: 350px;
  height: 52px;
  margin-left:20px ;
  line-height: 54px;
  font-size: 14px;
}
.mime>div:nth-child(4){
  width: 350px;
  height: 54px;
  margin-left:20px ;
  border-bottom: 1px solid #f5f5f5;
  line-height: 18px;
  font-size: 14px;
  color: #949494;
}
/*发现好货*/
.faxian{
  width: 165px;
  height: 165px;
  margin-left: 20px;
  margin-top: 25px;
  float: left;
}
.faxian>li:nth-child(1){
  width: 110px;
  height: 110px;
  margin-left: 27px;
}
.faxian>li:nth-child(2){
  text-align: center;
  color: #4589a0;
  font-weight: bold;
}
.faxian>li:nth-child(3){
  color: #65666a;
}
/*会逛*/
.huiguang>div:nth-child(2){
  width: 350px;
  height: 250px;
  margin-left: 20px;
}
.huiguangxt{
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
}


.faxianxt:hover li{
  color: #cc0d24;
}
.fxhaohuo{
  margin-top: 20px;
}
.huiguang{
 margin-top: 20px;
}
.mime{
   margin-top: 20px;
}
.ydhw{
  margin-top: 20px;
}
.meili{
  margin-top: 20px;
}
.meiliyouguanggao{
  margin-top: 20px;
}
.ssdr2Fright{
  margin-top: 20px;
}
.ssdr2Fguagngao{
  margin-top: 20px;
}
.ssdr2Fcenter{
  margin-top: 20px;
}
.fzk{
  margin-top: 20px;
}
/*标题 时尚达人*/
.ssdr{
  height: 35px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
      margin-top: 25px;
      float: left;
}
/*运动户外、魅力装扮、魅力装扮右广告 */
.ssdr1F{
  height: 480px;
}
/*运动户外*/
.ydhw>div:nth-child(2){
  width: 350px;
  height: 180px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}
.ydhw>div:nth-child(2)>img{
  width: 350px;
  height: 180px;
}
.ydhwxt{
  width: 170px;
  height: 180px;
  margin-left: 20px;
  
}
.ydhwxt>img{
  width: 170px;
  height: 180px;
}
/*魅力装扮*/
.meili>div:nth-child(2){
  width: 350px;
  height: 180px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}
.meili>div:nth-child(2)>img{
  width: 350px;
  height: 180px;
}
.meilixt{
  width: 170px;
  height: 180px;
  margin-left: 20px;
  
}
.meilixt>img{
  width: 170px;
  height: 180px;
}
/*广告*/
.meiliyouguanggao{
  background-color: #f1f3ee;
  position: relative;
}
.meiliyouguanggao>div:nth-child(1){
  width: 340px;
  height: 420px;
  border: 5px solid #313133;
  position: absolute;
  top: 20px;
  right: 0px;
}
.meiliyouguanggao>div:nth-child(2){
  width: 340px;
  height: 420px;
  background-color: #f1f3ee;
  position: absolute;
  top: 0px;
  left: 10px;
}
/*时尚达人2F*/
.ssdr2F{
  height: 480px;
}
/*时尚达人下2F左边广告*/
.ssdr2Fguagngao{
  background-color: #f1f3ee;
  position: relative;
}
.ssdr2Fguagngao>div:nth-child(1){
  width: 340px;
  height: 420px;
  border: 5px solid #313133;
  position: absolute;
  top: 20px;
  left: 0px;
}
.ssdr2Fguagngao>div:nth-child(2){
  width: 340px;
  height: 420px;
  background-color: #f1f3ee;
  position: absolute;
  top: 0px;
  right: 10px;
}
/*时尚达人下2F中间广告*/
.ssdr2Fcentertittle{
  width: 350px;
  height: 60px;
  margin-left: 20px;
  line-height: 60px;
}
.ssdr2Fcentertittle>span:nth-child(1){
  font-size: 17px;
}
.ssdr2Fcenter>div:nth-child(1)>span:nth-child(2){
  font-size: 14px;
  color: #9994aa;
}
.ssdr2Fcenterxt{
  width: 350px;
  height: 164px;
  margin-left: 20px;
}
.ssdr2Fcenterxt>li{
  float: left;
  width: 130px;
  height: 130px;
  
  margin-left: 20px;
  margin-right: 25px;
}
/*时尚达人下2F右广告*/
.ssdr2Fright>div:nth-child(1){
  width: 350px;
  height: 60px;
  margin-left: 20px;
  line-height: 60px;
}
.ssdr2Fright>div:nth-child(1)>span:nth-child(1){
  font-size: 22px;
}
.ssdr2Fright>div:nth-child(1)>span:nth-child(2){
  font-size: 12px;
  color: #9994aa;
}
.ssdr2Frightxiao{
  width: 150px;
  height: 180px;
  margin-left: 20px;
  position: relative;
}
.ssdr2Frxl{
  width: 116px;
  height:180px;
  background-color: #aeb7c8;
  float: left;
}
.ssdr2Frxl1{
  width: 86px;
  height: 35px;
  margin-left: 15px;
  padding-top: 32px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.ssdr2Frxl2{
  width: 49px;
  height: 17px;
  margin-top: 15px;
  margin-left: 15px;
}
.ssdr2Frxl2>li{
  float: left;
}
.ssdr2Frxl2>li:nth-child(1){
  width: 20px;
  height: 15px;
  color:#e1423c;
  font-size: 9px;
}
.ssdr2Frxl2>li:nth-child(2){
  width: 27px;
  height: 15px;
  background-color: #e1423c;
  color: #fff;
  font-size: 11px;
}
.ssdr2Frxl3{
  width: 88px;
  height: 15px;
  margin-left: 15px;
  margin-top: 37px;
  font-size: 12px;
  color: #fff;

}
.ssdr2Frxr{
  width: 234px;
  height: 180px;
  background-color: #e3e6ed;
  float: left;
  position: absolute;
  top: 0px;
  left: 116px;
}
.ssdr2Frxr1{
  width: 90px;
  height: 90px;
  margin-left: 14px;
  margin-top: 34px;
  border: 3px solid #fff;
  border-radius:8px;
  float: left;
}
.ssdr2Frxr2{
  width: 90px;
  height: 15px;
  margin-top: 12px;
  margin-left: 14px;
  text-align: center;
  float: left;
  color: #d82c3a;

}

/*手机频道*/
.shouji1{
  width: 350px;
  height: 180px;
  margin-left: 20px;
}
.shouji1>li{
  width: 170px;
  height: 180px;
  float: left;
}
.shouji1>li:nth-child(1){
  margin-right: 10px;
}
.shouji2{
  width: 348px;
  height: 180px;
  margin-left: 20px;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.shouji2>li{
  float: left;
  width: 86px;
  height: 58px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
/*新品首发*/
.xinpinshoufa2{
  width: 350px;
  height: 370px;
  margin-left: 20px;
}


/*内容最后*/
.conzuihou{
  height: 113px;
}
.conzuihou>div{
  float: left;
  line-height: 113px;
}
.conzuihou>div:nth-child(1){
  margin-left: 0px;
}
.conzuihou>div>li{
  height: 113px;
  line-height: 113px;
  float: right;
  margin-left: 9px;
  margin-right: 78px;
  font-family: 黑体;
  font-size: 18px;
  font-weight: bold;
}
.conzuihou>div>li>img{
  position: relative;
  top: 12px;
}
.conzuihou>div>i{
  width: 36px;
  height: 42px;
  background-image: url(../images/sprite.footer.png);
}
.conzuihou>div>i:nth-child(1){
  background-position: 0px -192px;
}
.conzuihou>div>i:nth-child(2){
  background-position: -41px -192px;
}
.conzuihou>div>i:nth-child(3){
  background-position: -82px -192px;
}
.conzuihou>div>i:nth-child(4){
  background-position: -123px -192px;
}
/*页尾*/
.weiye{
  width: 100%;
  height: 700px;
  border-top: 1px solid #e1e3e0;
}
.weiyecon{
  height: 198px;
}
.cin11{
  width: 196px;
  height: 198px;
  float: left;
}
.cin11>li{
  font-size: 11px;
  color: #585f58;
  padding: 6px 0px;
}
.cin11>li:hover{
  color: #cc0d24;
}
.cin11>li:nth-child(1){
  padding: 10px 0px;
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
}
.cin11>li:nth-child(1):hover{
  color: #585f58;
}
.cin12{
  width: 196px;
  height: 150px;
  float: left;
  margin-top: 25px;

}
.cin12>li{
  margin: 2px 0px;
  color: #585f58;
}
.cin12>li:nth-child(1){
  margin-bottom: 23px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.cin12>li:nth-child(5){
  text-align: right;
}
.cin12>li:nth-child(5):hover{
  color: #cc0d24;
}
.weiyecon2{
  height: 250px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e1e3e0;
  position: relative;
  top: 40px;
}
.weiyecon2>li{
  float: left;
  margin: 0 6px;
  margin-bottom: 20px;
  font-size:  12px;
  color: #585f58;
}
.weieyecon2>li:nth-child(even){
  color: #ccd0d1;
}
.weiyecon2>div{
  margin: 3px 0px;
  text-align: center;
  color: #585f58;
}
.weiyecon2isi>i{
  width: 103px;
  height: 32px;
  background-image: url(../images/sprite.footer.png);
}
.weiyecon2isi>i:nth-child(1){
  background-position: -205px 0px;
}
.weiyecon2isi>i:nth-child(2){
  background-position: -205px -37px;
}
.weiyecon2isi>i:nth-child(3){
  background-position: -205px -74px;
}
.weiyecon2isi>i:nth-child(4){
  background-position: -205px -111px;
}
.weiyecon2isi>i:nth-child(5){
  background-position: -205px -148px;
}
.dada{
  position: relative;
  top: -250px;
}
